<web-app>
  <display-name>Hello servlet</display-name>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>by.vadarod.javaee.servlets.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>HelloFilter</filter-name>
    <filter-class>by.vadarod.javaee.servlets.HelloFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>HelloFilter</filter-name>
    <servlet-name>HelloServlet</servlet-name>
  </filter-mapping>
</web-app>
